/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background: #ececec;
  font-size: 14px;
  font-family: "Roboto", Arial;
  font-weight: 500;
  overflow-x: hidden;
}

#jobSelector { margin-left: 1rem; }

 h2 {
   font-size: 1.1rem;
   color: #7f8c8d;
 }
 h2 a {
   font-size: 1.6rem;
   color: #008AED;
 }
 h2 a span {
   font-family: "Roboto Mono";
 }