.pageList {
    overflow: auto;
    height: 170px;
}

.thumbnail {
    float: left;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}
.thumbnail.selected {
    border: 1px solid red;
}
.thumbnail .number {
    float: left;
}
.preview, #zoomy {
    clear: left;
    float: left;
    min-width: 800px;
    text-align: center;
}

.controls {
    float: left;
}